UpgradeLog.XML
StoneCircle/bin
StoneCircle/obj
StoneCircle.suo
StoneCircle/Content/Content/obj
StoneCircle/Content/obj
StoneCircle/StoneCircle.csproj.user
StoneCircle/StoneCircle.csproj.Debug.cachefile
StoneCircle/StoneCircle.csproj.Release.cachefile
SCDoc/Documentation
SCDoc/SCDoc.shfbproj_*
SCEd/bin
SCEd/obj
SCEd/SCEd.csproj.user